body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000, #2d3436);


  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.login-container {
  min-height: 40%;
  min-width: 15%;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  gap: 40px;
  background-color: #2d3436;
  border-radius: 10px;
}

h1 ion-icon {
  font-size: 100px;
  color: #8c1012;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.login-form input {
  background-color: #2d3436;
  border: none;
  border-bottom: 1px solid rgb(76, 76, 76);
  color: white;
  width: 100%;
}

.login-form button {
  width: 100%;
  height: 40px;
  background-color: #8c1012;
  color: white;
  border: none;

  border-radius: 5px;
}

.login-form button:hover {
  width: 100%;
  height: 40px;
  background-color: #591314;
  color: white;
  border: none;
  transform: translateY(2px);
  /* box-shadow: 0 0 3px white; */
  border-radius: 5px;
}

.login-form a {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  padding-bottom: 10px;
}
